@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Custom font */

* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.homepage-container {
  width: 100%;
  height: 100vh; /* Use the entire height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevent scrolling */
}

.homepage-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  z-index: 0; /* Ensure the image is at the back */
}

.button-group {
  z-index: 1; /* Ensure the buttons are above the image */
  display: flex;
  flex-direction: row; /* Align buttons in a row */
  gap: 20px; /* Space between buttons */
}

.custom-button {
  background-color: #ffd80d; /* Yellow background */
  border-radius: 20px;
  border: none;
  padding: 15px 55px; /* Slightly increase padding */
  color: #101010;
  font-size: 25px; /* Increase font size */
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure the button is properly positioned */
}

.custom-button.secondary {
  background-color: #6c757d; /* Secondary button color */
}


