/* src/pages/HomePage.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0; /* Rimuovi anche eventuali padding predefiniti */
    overflow: hidden;
}



.homepage-container {
    background: url('https://mrwallpaper.com/images/hd/landscape-white-minimalist-d0h9lllw9ds8g39m.jpg') no-repeat center center fixed;
    background-size: cover;         /* Cover the entire container */

    /* These properties are key to flexible, full-screen layouts */
    display: flex;                  
    flex-direction: column;         
    justify-content: center;        
    align-items: center;            
    
    min-height: 100vh;   /* Ensure container is at least viewport height */ 
    width: 100vw;       /* Explicitly set width to 100% of viewport */
    text-align: center; 
    position: absolute; /* Posiziona l'elemento in modo assoluto */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;        /* Assicura che copra l'intero viewport */
}
  
  .title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .custom-button {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-button:hover {
    background-color: #004085;
    color: #fff;
  }
  
  .custom-button:active {
    background-color: #002752;
    color: #fff;
  }

  .custom-button{
    margin-left:20px;
  }
  